<h2>Welcome back, <%=@user.username%>!</h2>
<h3>Your Dogs:</h3>
<ul>
<%@user.dogs.each do |dog|%>
  <li>
    <a href="/dogs/<%=dog.id%>"><%=dog.name%></a>
  </li>
<%end%>
</ul>

<button><a href="/create_dog">Add a dog to your repertoire</a></button>
<button><a href="/walks">Walks</a></button>
